.panels-wrapper {
  display: flex;
  flex-direction: column;
}

.panels-card {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.panels-card--light {
  background: var(--light-bg);
  color: var(--dark-text);
}

.panels-card--dark {
  background: var(--dark-bg);
  color: var(--light-text);
}

@media (min-width: 640px) and (min-height: 500px) {
  .panels-card {
    min-height: 65vh;
    height: auto;
  }
}

.timeline-flower {
  height: 100vh;
}

@media (min-width: 640px) and (min-height: 500px) {
  .timeline-flower {
    height: 65vh;
  }
}
